{% extends "pages/page.html" %}

{% block title %}Contact Us{% endblock title %}

{% block content %}


<div class="col-md-6">
        <iframe id="frame" class="b_frame" src="https://console.dialogflow.com/api-client/demo/embedded/de4425b3-18eb-432f-a74c-cc3cf5842858">
        </iframe>
    </div>
        <style>
            .b_frame {
                -webkit-box-shadow: 0px 19px 147px -41px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 19px 147px -41px rgba(0,0,0,0.75);
                box-shadow: 0px 19px 147px -41px rgba(0,0,0,0.75);
                border: 0;
                width: 450px;
                height: 400px;
                display: block;
                margin: 0 auto;
                margin-bottom: 0px;
            }
        </style>

        
{% endblock content %}



<!--

-->