{% extends "pages/page.html" %}

{% block title %}stockViewer{% endblock title %}

{% block content %}


        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
    
      function drawChart() {
        var datar = eval({{ list2|safe }})
        var data = google.visualization.arrayToDataTable(
            datar, true);
    
        var options = {
          legend:'none',
        };
    
        var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
    
        chart.draw(data, options);
      }
        </script>

        <h1>Samsung Elec Stock Price</h1>

        <div id="chart_div" style="width: 100%; height: 100%"></div>


{% endblock content %}


